.left-sidebar {
  margin-top: 15px;
  flex: 0.56;
  position: sticky;
  top: 15px;
  left: 0px;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
  cursor: pointer;
  width: 55%;
  transition: 0.2s all ease;
  margin-bottom: 3px;
}

.options:hover {
  background: #e4e6eb;
  border-radius: 8px;
}

.options > span {
  font-size: 12px;
  font-weight: 500;
}

.other {
  width: 16px;
  height: 16px;
  background: #dadbdd;
  padding: 5px;
  border-radius: 50%;
  margin-left: -4px;
}
