.left-sidebar {
  margin-top: 15px;
}

.options {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 7px 20px;
  cursor: pointer;
}

.options:hover {
  background: #e4e6eb;
}

.options > span {
  font-size: 12px;
  font-weight: 500;
}

.other {
  width: 16px;
  height: 16px;
  background: #e4e6eb;
  padding: 5px;
  border-radius: 50%;
  margin-left: -4px;
}
